


$primary: #357535;
$secondary: #009B4D;
$success: #83ebec;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f7e7c2;
$dark: #582C12;


$font-family-sans-serif: "Inika", sans-serif !default;
$font-family-serif: "Kiwi Maru", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";



